/* TODO */
/* offset first name in header  */
/* add @import and other css files  */
/* for desktop version: main page on left, info on right, maybe with grid. hide header.  */
/* maybe display flex column for skills and background */


/* next commit;
1. add nav bar  
2. fix footer with socials
3. add photo or at least holder
4. fix skillsets and background.
5. Final Check out of content */

/* Positioning Name, Lastname, and Subtitle */
:root {
    --main-title-font:  'Cinzel', serif;
    --main-content-font: 'Raleway', sans-serif;
    --main-black-color: #0D0D0D;
    --main-white-color:#F5ECEC;
    --main-light-blue-color:#B8D6E5;
    --main-medium-blue-color:#03BFFE;
    --main-dark-blue-color:#005DAC;
    --main-bg-color: var(--main-black-color);
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h3{
    font-family: var(--main-title-font);
    font-size: 1.2rem;
}
h4{
    font-family: var(--main-content-font);
    font-size: 1rem;
}
p,ul{
    font-family: var(--main-content-font);
    font-size: 1rem;
}

nav{
    font-family:var(--main-content-font);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  
    width: auto;
    height: auto;
    z-index: 1;
}


nav li{
    list-style: none;
    color: var(--main-dark-blue-color);
    background: var(--main-light-blue-color); 
    border: 1px solid var(--main-black-color); 
}



nav a{
    display:block;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration:none;
}

nav a:hover{
    background: var(--main-dark-blue-color);
    color: var(--main-light-blue-color);
    
}







nav visited{
    color: var(--main-dark-blue-color);
}



main, footer{
    display: flex;  
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    color: var(--main-light-blue-color);
}

footer{
    display: block;
    text-align: center;

    width: 100%;


    font-family: var(--main-content-font);
    font-size: 0.9rem;

}
/* main section of website */
#main-page {
    width: 100vw;
    height: 100vh;
    background:var(--main-black-color);
}
.first-name{
    font-family: var(--main-title-font);
    font-size: 2rem;
    color: var(--main-light-blue-color);
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-90%)    
}
.last-name{
    font-family: var(--main-title-font);
    font-size: 2rem;
    color:var(--main-light-blue-color);
    
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-40%);
}
.sub-heading{
    color:var(--main-light-blue-color);
    font-family: var(--main-content-font);
    font-size: .8rem;
    
    position: absolute;
    top:55%;
    left: 50%;
    transform: translateX(-20%); 
}
.to-about-page{
    position: absolute;
    color: rgb(90, 123, 133);
    font-size: 2rem;    
    left: 50%;
    transform: translateX(-50%);
    bottom: -5%;
}
.to-about-page a{
    text-decoration:none;
}
.to-about-page a:visited{
    color: #1389AA;
}
/* header */
header{
    position: fixed;
    top:-100px;
    width: 100vw;
    font-family: var(--main-title-font);
    font-size: 1.25rem;
    text-align: center;
    transition: 1s;    
}
.headertop{
    background: var(--main-black-color);
    color: var(--main-light-blue-color);
}
.headerbottom{
    background:var(--main-dark-blue-color);
    color: var(--main-light-blue-color);
}
/* formating sections */
.about, .skills,.stack,.contact,.background-interest{
    width: 80%;
    height: auto;
    /* no margin top and bottom, 10% right and left */
    margin: 0% 10%;  
    
    background: grey;   
    opacity: 50%; 
}
/* adding empty space on link class so header fits nicely */
.link{
    height: 60px;
    width: 100%;
}
/* skills section */
.skillset{
    padding-left: 10%; 
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skillset ul{
    min-width: auto;
    padding: 0;
}
/* stack section */
.projectslinks{
    padding: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.projectbox{
    border: 1px solid var(--main-light-blue-color);
}
.projectbox a{
    padding: 0;
}
/* contact section */
.contact {
    display:flex;
    flex-direction: column;
    align-items: center;
}
form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
input,textarea{
    box-sizing: border-box;
    font-family: var(--main-content-font);
    padding: 2% 2% 5% 2%;
}
textarea {
    height: 40%;
    padding: 2% 2% 30% 2%;
}
/* @media screen and (min-width:400px){
    .first-name{
        color:var(--main-light-blue-color);        
    }
} */