:root {
    
    --main-dark-color: #2B2525;

    --main-light-blue-color:#D8DFED;
    --main-medium-blue-color: #B5C1DB;
    --main-dark-blue-color:#2E7F96;

    --main-bg-color: var(--main-medium-blue-color);


}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--main-bg-color);
}

#main-header {
    position: fixed;
    top: -160px;
}


/* main section of website */
.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);  
}

/* svg image at main bottom */
.main-page-bottom{
    position: absolute;
    bottom: 0%;
}

.main-page-bottom img{
    width: 100vw;
    height: auto;
}


/* Positioning Name, Lastname, and Subtitle */

.first-name{
    font-family: 'Cinzel', serif;
    font-size: 32px;
    color: var(--main-dark-color);
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-90%)
    
}

.last-name{
    font-size: 32px;
    color:var(--main-medium-blue-color);
    font-family: 'Cinzel', serif;
    
    position: absolute;
    
    top: 45%;

    left: 50%;
    transform: translateX(-40%);

}

.sub-heading{


    color:var(--main-light-blue-color);
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
    
    position: absolute;
    
    top:66%;
    
    left: 50%;
    transform: translateX(-20%); 


}

.to-bio-page{

    position: absolute;
    color: #1389AA;
    
    font-size: 30px;
    
    left: 50%;
    transform: translateX(-50%);
    bottom: -5%;
}

.to-bio-page a{
    text-decoration:none;
}


.link-to-bio-page:visited{
    color: #1389AA;
}


/* bio section     width: 100vw;
    height: 667px;
  
    background-color: #B5C1DB;*/

.bio {
    width: 100vw;
    height: 667px;
  
    background-color: #B5C1DB;

}

/* skills section */

.skills {
    width: 100vw;
    height: 667px;
  
    background-color: #B5C1DB;

}


/* stack section */

.stack {
    width: 100vw;
    height: 667px;
  
    background-color: #B5C1DB;

}

/* contact section */

.contact {
    width: 100vw;
    height: 667px;
  
    background-color: #B5C1DB;

}

/* .logo {
    transform: translate(-50%, -50%);
    animation: pulse 5s infinite;

    }
    
@keyframes pulse {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(270deg);        
    }
}
*/