/* nav-bar.css deals with navigation bar on left styling and animation */
@import "nav-bar.css";
/* header.css deals with top header styling */
@import "header.css";
/* main-page-style.css deals with styling of main page.  */
@import "main-page-style.css";
:root {
    --main-title-font:  'Cinzel', serif;
    --main-content-font: 'Raleway', sans-serif;
    --main-font-shadow: #0D0D0D;
    --main-white-color:#F5ECEC;
    --main-black-color: #1C3346;
    --main-light-blue-color:#B8D6E5;
    --main-dark-blue-color:#005DAC;
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 2rem;
}
h3{
    font-family: var(--main-title-font);
    font-size: 1.2rem;
}
h4{
    font-family: var(--main-content-font);
    font-size: 1rem;
}
p,ul{
    font-family: var(--main-content-font);
    font-size: 1rem;
}
/* formating seccions */
main, footer{
    display: flex;  
    flex-wrap: wrap;
    background-color: var(--main-light-blue-color);
    opacity: 20%;
    color: var(--main-font-shadow);
}
footer{
    display: block;
    text-align: center;
    width: 100%;
    font-family: var(--main-content-font);
    font-size: 1.2rem;
}

footer a:visited{
    color: var(--main-font-shadow);
}
#main-page {
    width: 100vw;
    height: 100vh;
    background: var(--main-black-color);
    opacity: 100;
}
.about, .skills,.stack,.contact,.background-interest{
    width: 80%;
    height: auto;
    margin: 0% 10%;
    background: var(--main-light-blue-color);  
    color: var(--main-font-shadow);
}
/* end formating seccions */
/* skills section */
.skillset{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skillset li{
    font-family: var(--main-content-font);
    list-style: none;
    font-size: 1rem;
    min-width: auto;
}
.skillset li i{
    font-size: 2rem;
}
/* stack section */
.projectslinks{
    font-family: var(--main-content-font);
    font-size: 1rem;
    padding: 0;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projectbox{
    border-radius: .5rem;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--main-light-blue-color);
    background: var(--main-dark-blue-color);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    transition: 0.5s;
}
.projectbox a:hover{
    font-weight: bold;
}
.projectbox a{
    padding: 0;
    text-decoration: none;
}
.projectbox a:visited{
    color: var(--main-light-blue-color);
}
/* contact section */
.contact {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input,textarea{
    box-sizing: border-box;
    font-family: var(--main-content-font);
    padding: 2% 2% 5% 2%;
    width: 15rem;
}
textarea {
    height: 40%;
    padding: 2% 2% 30% 2%;
}
.contact button{
    font-family: var(--main-content-font);
    font-size: 1.2rem;
    border: none;
    background: var(--main-dark-blue-color);
    color: var(--main-light-blue-color);
    transition: 0.5s;
}
.contact button:hover{
    font-size: 1.5rem;
}