.first-name {
  font-family: $main-title-font;
  font-size: 2rem;
  color: $light-blue;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-90%);
}
.last-name {
  font-family: $main-title-font;
  font-size: 2rem;
  color: $light-blue;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-40%);
}
.sub-heading {
  color: $light-blue;
  font-family: $main-content-font;
  font-size: 0.8rem;
  position: absolute;
  top: 55%;
  left: 52%;
  transform: translateX(-20%);
}
/* Media query for mobile */
@media only screen and (max-height: 400px) {
  .first-name {
    top: 10%;
  }
  .last-name {
    top: 26%;
  }
  .sub-heading {
    top: 46%;
  }
}
/* links to about page, and socials */

.to-about-page {
  color: $light-blue;
  font-size: 2rem;
  a {
    text-decoration: none;
    color: $light-blue;
    &:visited {
      color: $light-blue;
    }
  }
}

.socials {
  font-size: 2rem;
  color: $light-blue;
  a {
    color: $light-blue;
    margin: 0.3rem;
    &:visited {
      color: $light-blue;
    }
  }
}

.section-below {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    display: flex;
    div {
      animation: zoom 800ms 1 ease;
    }
}
/* button  animation */
@keyframes zoom {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 2rem;
  }
}
