/* nav-bar.scss deals with navigation bar on left styling and animation */
nav {
  opacity: 0.95;
  display: flex;
  position: fixed;
  bottom: 0%;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  z-index: 1; }
  nav li {
    opacity: 0.95;
    list-style: none;
    color: #004179;
    background: #c6d8e8;
    border: 0.8px groove #0d0d0d; }
    nav li:first-child {
      border-top-right-radius: 0.5rem; }
      nav li:first-child a {
        border-top-right-radius: 0.5rem; }
    nav li:last-child {
      border-bottom-right-radius: 0.5rem; }
      nav li:last-child a {
        border-bottom-right-radius: 0.5rem; }
  nav a {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #0d0d0d; }
    nav a:hover {
      background: #004179;
      color: #c6d8e8; }
    nav a:visited {
      color: #004179; }

#navBarButton {
  padding: 0;
  width: 1rem;
  height: 9.7rem;
  background: #004179;
  color: #c6d8e8;
  border: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  /* Shine effect */
  /* On focus */ }
  #navBarButton:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
  #navBarButton:focus:after {
    animation: shine 600ms 1 ease-out;
    animation-delay: 1.5s; }

@keyframes shine {
  0% {
    opacity: 1;
    top: -110%;
    left: -210%; }
  100% {
    opacity: 1;
    top: 30%;
    left: -30%; } }
/* header.scss deals with top header styling */
/* header */
header {
  position: fixed;
  top: -100px;
  width: 100vw;
  z-index: 1;
  font-family: "Cinzel", serif;
  font-size: 1.25rem;
  text-align: center;
  transition: 1s; }

.headertop {
  background: #1f384d;
  color: #c6d8e8; }

.headerbottom {
  background: #0057a2;
  color: #c6d8e8; }

/* adding empty space on link class so header fits nicely */
.link {
  height: 60px;
  width: 100%; }

/* main-page-style.scss deals with styling of main page.  */
.first-name {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  color: #c6d8e8;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-90%); }

.last-name {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  color: #c6d8e8;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-40%); }

.sub-heading {
  color: #c6d8e8;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  position: absolute;
  top: 55%;
  left: 52%;
  transform: translateX(-20%); }

/* Media query for mobile */
@media only screen and (max-height: 400px) {
  .first-name {
    top: 10%; }

  .last-name {
    top: 26%; }

  .sub-heading {
    top: 46%; } }
/* links to about page, and socials */
.to-about-page {
  color: #c6d8e8;
  font-size: 2rem; }
  .to-about-page a {
    text-decoration: none;
    color: #c6d8e8; }
    .to-about-page a:visited {
      color: #c6d8e8; }

.socials {
  font-size: 2rem;
  color: #c6d8e8; }
  .socials a {
    color: #c6d8e8;
    margin: 0.3rem; }
    .socials a:visited {
      color: #c6d8e8; }

.section-below {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  display: flex; }
  .section-below div {
    animation: zoom 800ms 1 ease; }

/* button  animation */
@keyframes zoom {
  0% {
    font-size: 1rem; }
  100% {
    font-size: 2rem; } }
/* main-page-style.scss deals with styling of main page.  */
/* stack section */
.projects-carousel-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center; }
  .projects-carousel-container .projects-carousel {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background: #c6d8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #1c3346;
    border-radius: 5px; }
    .projects-carousel-container .projects-carousel .project-card {
      transition: 0.5s;
      text-align: center; }
      .projects-carousel-container .projects-carousel .project-card a {
        text-decoration: none;
        color: #1c3346; }
        .projects-carousel-container .projects-carousel .project-card a:hover {
          color: #1c3346; }
        .projects-carousel-container .projects-carousel .project-card a:visited {
          color: #1c3346; }
        .projects-carousel-container .projects-carousel .project-card a .project-name:hover {
          font-weight: bold; }
    .projects-carousel-container .projects-carousel .carousel-button {
      padding-left: 2vh;
      padding-right: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1f384d;
      color: #c6d8e8;
      font-size: 1.3rem;
      width: 2vh;
      height: 60vh;
      transition: .3s; }
      .projects-carousel-container .projects-carousel .carousel-button.left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .projects-carousel-container .projects-carousel .carousel-button.right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .projects-carousel-container .projects-carousel .carousel-button:hover {
        background: #1c3346;
        font-size: 1.5rem; }

.language-tag {
  margin: 6px;
  padding: 6px;
  border: 1px solid #1c3346;
  border-radius: 5px; }

canvas {
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #1c3346;
  opacity: 100; }

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h3 {
  font-family: "Cinzel", serif;
  font-size: 1.2rem; }

h4,
p,
ul {
  font-family: "Raleway", sans-serif;
  font-size: 1rem; }

p {
  line-height: 2rem; }

/* formating seccions */
main,
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #c6d8e8;
  opacity: 20%;
  color: #0d0d0d; }

main {
  justify-content: center;
  align-items: center; }

footer {
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem; }
  footer a {
    color: #0d0d0d; }
    footer a:visited {
      color: #0d0d0d; }

#main-page {
  width: 100vw;
  height: 100vh;
  background: #1c3346;
  opacity: 100; }

.about-container,
.stack,
.skills,
.contact,
.education-container {
  width: 80vw;
  max-height: 80vw;
  background: #c6d8e8;
  opacity: .8;
  color: #0d0d0d;
  padding: 2rem;
  position: absolute; }

/* end formating seccions */
.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .skillset li {
    font-family: "Raleway", sans-serif;
    list-style: none;
    font-size: 1rem;
    min-width: auto; }
    .skillset li i {
      font-size: 2rem; }

/* contact section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact button {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    background: #004179;
    color: #c6d8e8;
    transition: 0.5s; }
    .contact button:hover {
      font-size: 1.4rem; }

input,
textarea {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 2% 2% 5% 2%;
  width: 15rem; }

textarea {
  height: 40%;
  padding: 2% 2% 30% 2%; }

/*# sourceMappingURL=styles.css.map */
