canvas {
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #1c3346;
  opacity: 100; }

.socials-section {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  animation: zoom 800ms 1 ease; }
  .socials-section .socials {
    font-size: 2rem;
    color: #c6d8e8; }
    .socials-section .socials a {
      color: #c6d8e8;
      margin: 0.2rem; }
      .socials-section .socials a:visited {
        color: #c6d8e8; }

/* button  animation */
@keyframes zoom {
  0% {
    font-size: 1rem; }
  100% {
    font-size: 2rem; } }
.main-page {
  background: #1c3346;
  opacity: 100; }

.display-as-main-page {
  /* Media query for mobile */ }
  .display-as-main-page .first-name {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    color: #c6d8e8;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-90%); }
  .display-as-main-page .last-name {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    color: #c6d8e8;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-40%); }
  .display-as-main-page .sub-heading {
    color: #c6d8e8;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    position: absolute;
    top: 49%;
    left: 52%;
    transform: translateX(-20%); }
  @media only screen and (max-height: 400px) {
    .display-as-main-page .first-name {
      top: 10%; }
    .display-as-main-page .last-name {
      top: 26%; }
    .display-as-main-page .sub-heading {
      top: 46%; } }

.display-as-header {
  display: flex;
  justify-content: center; }
  .display-as-header .full-name {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    display: flex; }
    .display-as-header .full-name .first-name {
      font-family: "Cinzel", serif;
      font-size: 1.2rem;
      color: #c6d8e8;
      padding-right: .5rem; }
    .display-as-header .full-name .last-name {
      font-family: "Cinzel", serif;
      font-size: 1.2rem;
      color: #c6d8e8; }
  .display-as-header .sub-heading {
    display: none; }

.navbar-section {
  opacity: 0.95;
  position: absolute;
  display: flex;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  z-index: 1; }
  .navbar-section .navbar-options {
    display: flex; }
    .navbar-section .navbar-options button {
      cursor: pointer;
      margin-left: .3rem;
      opacity: 0.95;
      background: #c6d8e8;
      border: 0px;
      border-radius: 4px;
      display: block;
      margin-top: .1rem;
      margin-bottom: .1rem;
      padding-top: .2rem;
      padding-bottom: .2rem;
      height: 2rem;
      font-weight: 600;
      text-decoration: none;
      color: #1c3346; }
      .navbar-section .navbar-options button:hover {
        background: #1c3346;
        color: #c6d8e8;
        border: 1px solid #c6d8e8; }
      .navbar-section .navbar-options button:visited {
        color: #004179; }

.close-button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
  background: #1c3346;
  color: #c6d8e8;
  padding: .2rem;
  margin: .1rem;
  border-radius: 4px; }

.language-tag {
  margin: 6px;
  padding: 6px;
  border: 1px solid #1c3346;
  border-radius: 5px; }

/* portfolio-section */
.portfolio-component .projects-title {
  width: 60vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
.portfolio-component .projects-carousel-container {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }
  .portfolio-component .projects-carousel-container .projects-carousel {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background: #c6d8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #1c3346;
    border-radius: 5px; }
    .portfolio-component .projects-carousel-container .projects-carousel .project-card {
      transition: 0.5s;
      text-align: center; }
      .portfolio-component .projects-carousel-container .projects-carousel .project-card a {
        text-decoration: none;
        color: #1c3346; }
        .portfolio-component .projects-carousel-container .projects-carousel .project-card a:hover {
          color: #1c3346; }
        .portfolio-component .projects-carousel-container .projects-carousel .project-card a:visited {
          color: #1c3346; }
        .portfolio-component .projects-carousel-container .projects-carousel .project-card a .project-name:hover {
          font-weight: bold; }
    .portfolio-component .projects-carousel-container .projects-carousel .carousel-button {
      width: 2vh;
      height: 59vh;
      padding-left: 2vh;
      padding-right: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: #1c3346;
      font-size: 1.3rem;
      transition: .3s; }
      .portfolio-component .projects-carousel-container .projects-carousel .carousel-button.left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .portfolio-component .projects-carousel-container .projects-carousel .carousel-button.right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .portfolio-component .projects-carousel-container .projects-carousel .carousel-button:hover {
        background: #1c3346;
        color: #c6d8e8;
        font-size: 1.5rem; }

main,
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #c6d8e8;
  opacity: 20%;
  color: #0d0d0d; }

.about-container,
.portfolio-section,
.skills,
.contact,
.education-container {
  width: 80vw;
  max-height: 60vh;
  position: absolute;
  top: 13%;
  left: 10%;
  border-radius: 5px;
  background: #c6d8e8;
  opacity: 0.8;
  color: #0d0d0d;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  hyphens: auto; }

.education-container {
  overflow: hidden; }
  .education-container ul {
    width: 80vw; }
    .education-container ul li {
      line-height: 1.5rem;
      padding-bottom: 1rem; }

.portfolio-section {
  padding: 0; }

/* end formating seccions */
.skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; }
  .skillset li {
    margin: 1rem;
    width: 8.5rem;
    font-family: "Raleway", sans-serif;
    list-style: none;
    font-size: 1rem;
    min-width: auto; }
    .skillset li i {
      font-size: 2rem; }

/* contact section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact form input,
    .contact form textarea {
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      padding: 2% 2% 5% 2%;
      width: 15rem; }
    .contact form textarea {
      height: 40%;
      padding: 2% 2% 30% 2%; }
    .contact form button {
      font-family: "Raleway", sans-serif;
      font-size: 1.2rem;
      border: none;
      border-radius: 0.3rem;
      background: #004179;
      color: #c6d8e8;
      transition: 0.5s; }
      .contact form button:hover {
        font-size: 1.4rem; }

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h3 {
  font-family: "Cinzel", serif;
  font-size: 1.2rem; }

h4,
p,
ul {
  font-family: "Raleway", sans-serif;
  font-size: 1rem; }

p {
  line-height: 2rem; }

/*# sourceMappingURL=styles.css.map */
