//Variables:
$main-title-font: "Cinzel", serif;
$main-content-font: "Raleway", sans-serif;

//Modules:
// Colors
@import "colors";

// Node Garden
@import "nodeGarden";

// Components
@import "../Components/Components";

// Sections
@import "../Sections/Sections";

// General Styling
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  font-family: $main-title-font;
  font-size: 1.2rem;
}

h4,
p,
ul {
  font-family: $main-content-font;
  font-size: 1rem;
}

p {
  line-height: 2rem;
}


