@import "Socials";
@import "DiegoRodriguez";
@import "NavBar";
@import "Projects";
@import "CloseButton";



// Language Tag
.language-tag {
  margin: 6px;
  padding: 6px;
  border: 1px solid $primary-color;
  border-radius: 5px;
}
