@import 'Socials';
@import 'DiegoRodriguez';
@import 'NavBar';


// Close Button
.close-button {
  @include makeClickable();
  z-index: 1;
  font-family: $main-content-font;
  font-weight: 600;
  position:absolute;
  right: 0;
  top: 0;
  background: $dark-blue;
  color: $light-blue;
  padding:.2rem;
  margin: .1rem;
  border-radius: 4px;
  width: 1rem;
  text-align: center;
  opacity: 0.9;

}

// Language Tag
.language-tag {
  margin: 6px;
  padding: 6px;
  border: 1px solid $dark-blue;
  border-radius: 5px;
}

// Carousel and project card
/* portfolio-section */
.portfolio-component {
  .projects-title{
    width: auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
  }
  .projects-carousel-container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    .projects-carousel {
      font-family: $main-content-font;
      font-size: 1rem;
      background: $light-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 1px solid $dark-blue;
      border-radius: 5px;
      .project-card {
        transition: 0.5s;
        text-align: center;
        a {
          @include makeClickable();
          text-decoration: none;
          color: $dark-blue;      
          &:hover {
            color: $dark-blue;
          }
          &:visited {
            color: $dark-blue;
          }
          .project-name{
            &:hover{
              font-weight: bold;
            }
          }
        }
      }
      .carousel-button {
        @include makeClickable();
        width: 2vh;
        height: 59vh;
        padding-left: 2vh;
        padding-right: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background:transparent;
        color: $dark-blue;
        opacity: 0.95;
        font-size: 1.3rem;
        transition: .3s;
        &.left {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &.right {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &:hover{
          font-size: 2rem;
        }
      }
    }
  }  
}
