
// NavBar
.navbar-section {
  opacity: 0.95;
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: $main-content-font;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  z-index: 1;  

  .navbar-options {
    display: flex;
    button {
      margin-left: .3rem;
      // width: 5rem;
      opacity: 0.95;
      color: $button-blue;
      background: $light-blue;
      border: 0px;
      border-radius: 4px;
      display: block;
      margin-top: .1rem;
      margin-bottom: .1rem;
      padding-top: .2rem;
      padding-bottom: .2rem;

      text-decoration: none;
      color: $font-shadow;
      &:hover {
        background: $button-blue;
        color: $light-blue;
      }
      &:visited {
        color: $button-blue;
      }
    }
  }
}


