.socials-section {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    display: flex;
    animation: zoom 800ms 1 ease;
    .socials {
      font-size: 2rem;
      color: $light-blue;
      a {
        color: $light-blue;
        margin: 0.2rem;
        &:visited {
          color: $light-blue;
        }
      }
    }
}
/* button  animation */
@keyframes zoom {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 2rem;
  }
}
